/* root layout */
html, body, #root, .provider, .app {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  display: block;
}
html {
  font-family: 'Arial', 'Helvetica', 'Open Sans', sans-serif;
  font-size: 18px;
  background: #eceff1;
}
/* clear bootstrap defaults */
div, header, footer, main {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}
/* neutral bg */
.bg-blue-grey {
  background: #eceff1;
}
.bg-dark-indigo {
  background: #1a237e;
}
/* modified spinning logo */
.app-logo {
  animation: App-logo-spin infinite 10s linear;
  width: 8vmin;
  pointer-events: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
